<div class="container mt-5" id="titulo">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="car-body text-center">
                    <h3>Personas</h3>
                </div>
            </div>
        </div>
    </div> 
    <div class="row mt-4">
        <div class="col-lg-6">
            <div class="card">
                <div class="car-body text-center">
                    <h5 class="titulo">Agragar Persona</h5>
                    <form >
                        <div class="input-group  mb-3">
                            <div class="input-group-prepend input-group-lg">
                              <span class="input-group-text">
                                <i class="fas fa-user"></i>
                              </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Nombre">
                          </div>
                          <div class="input-group  mb-3">
                            <div class="input-group-prepend input-group-lg">
                              <span class="input-group-text">
                                <i class="far fa-id-card"></i>
                              </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Numero de Cedula">
                          </div>
                          <div class="row">
                            <div class="col-lg-2">
                                <div class="input-group-prepend input-group-lg mb-3">
                                    <span class="input-group-text"><i class="fas fa-temperature-low"></i></span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="00.00"> 
                            </div>
                          </div>
                          <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-success btn-lg">Aceptar</button>
                          </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="car-body text-center">
                    <h5 class="titulo">Listado Personas</h5>
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let tarjeta of listPersonas">
                                <td>{{tarjeta.nombre}}</td>
                                <td>{{tarjeta.cc}}</td>
                                <td>{{tarjeta.temp}}</td>
                                <td><i class="far fa-edit text-info"></i></td>
                                <td><i class="far fa-trash-alt text-danger"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>